html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.right-section {
    width: 325px;
    font-family: 'Nunito', sans-serif;
}

.make-reservation-text-container {
    background-color: #39A4AC;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 15px;
}

.make-reservation-text-container h1 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    
    margin: 0px;
}

.form-wrapper {
    border-radius: 0px 0px 5px 5px;
    border: 2px solid #39A4AC;
    padding: 20px;
}

.form-wrapper2 {
    position: relative;
    top: 40%;
    left: 0;
}

.fa-map-marker, .fa-calendar, .fa-user-friends, .fa-location-arrow, .material-symbols-outlined, .material-icons {
    color: #39A4AC;
}

.choose-location, .choose-activity {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.schedule-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#choose-location-text, #lblDate, #lblSchedule, 
#lblParticipants, #lblActivity, #lblSchedule {
    font-size: 14px;
    color: #39A4AC;
    margin-left: 10px;
    font-weight: bold;
}

.choose-loc-cont {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#location-name {
    border: 1px solid lightgray;
    outline: none;
}

#location-name:hover {
    border: 1px solid #39A4AC;
}

#sel-loc{
    color: green;
    font-size: 14px;
}

.schedule-date{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}







/*Testing Section*/
.select-location-box-part, .select-activity-box-part, .select-date-box-part,
.select-schedule-box-part, .select-participants-box-part {
    border: 1px solid #B6B5B575;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; /*
    height: 100%;*/
}


.select-location-box-part:hover, .select-activity-box-part:hover, 
.select-date-box-part:hover, .select-schedule-box-part:hover,
.select-participants-box-part:hover{
    border: 1px solid #39A4AC;
    border-radius: 3px;
}

.select-location-box-part span, .select-activity-box-part div,
.select-date-box-part div, select-schedule-box-part div,
.select-participants-box-part div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.select-location-box-part span p, .select-activity-box-part div p,
.select-date-box-part div p, .select-schedule-box-part div p,
.select-participants-box-part div p{
    margin: 0px;
    font-size: 13px;
    color: #B6B5B575;
}

.fa-caret-down {
    color: #B6B5B575;
}

#closeTimesBtn {
    border: none;
    background-color: inherit;
}
/*#overlay-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 19%;*/
/*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
/*background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}*/
/*#overlay-div {
    position: fixed;
    top: 19%;
    left: 5.5%;
    z-index: 10;
    background-color: #ffffff;
    color: white;
    visibility: hidden;
    width: 31%;
    height: inherit;
    border-radius: 5px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #39A4AC;
}


#closeBtn{
    background-color: inherit;
    border: none;
    outline: none;

}*/
#overlay-div, #overlay-div2, #overlay-div3, #overlay-div4, #overlay-div5 {
    position: fixed;
    top: 70px;
    left: 85px;
    width: 325px;
    height: 100%;
    background-color: #ffffff;
    padding: 10px 20px 0px;
    border-radius: 5px;
    border: 2px solid #39A4AC;
    display: flex;
    flex-direction: column;
}


#selectlocationgetid{
    margin-top: 40px;
}

#overlay-div > button, #overlay-div2 > button, #overlay-div3 > button, 
#overlay-div4 > button, #overlay-div5 > button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.fa-times {
    color: #39A4AC;
}

.overlay-choose-location, .overlay-choose-activity, .overlay-choose-date,
.overlay-choose-schedule, .overlay-choose-participants {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-choose-location p, .overlay-choose-activity p, .overlay-choose-date p, .overlay-choose-schedule p {
    color: #818181;
    margin: 0px;
    font-size: 15px;
}

.radio-location{
    color: #818181;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px;
}

.radio-location input{
    margin-bottom: 20px;
}

.radbtn{
    display: flex;
    align-items: center;
    width: 200px;
}

.radbtn#text{
    width: 100%;
}

    .radbtn input[type="radio"] {
        margin: 0px 10px 0px 0px;
        display: flex;
        align-items: center;
    }

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 1fr);
    gap: 1px;
    width: 300px;
}

.calendar .header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    grid-column: 1 / -1;
}

.calendar .date {
    text-align: center;
    padding: 10px;
    background-color: #eee;
}

.calendar .past {
    color: #999;
    opacity: 0.5;
}

#bookNowBtn{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #EBE7E7;
}



