@* @model DolphinCove.Models.Park *@
@model List<DolphinCove.Models.Park>

@{
    ViewData["Title"] = "Ocho Rios";
    ViewData["Parks"] = Model;
}

<div class="">
    <img class="banner-box" src="~/image/banner.jpg" />
</div>

<div class="img-gallery">
    <ul>
        <li>
            <img class="gallery1" src="~/image/gallery1.jpg" />
        </li>
        <li>
            <img class="gallery1" src="~/image/gallery2.jpg" />
        </li>
        <li>
            <img class="gallery1" src="~/image/gallery3.jpg" />
        </li>
        <li>
            <img class="gallery1" src="~/image/gallery4.jpg" />
        </li>
        <li>
            <img class="gallery1" src="~/image/gallery4.jpg" />
        </li>
    </ul>
</div>

<div class="form-ochi">
</div>
<div class="under-form">
    <ul>
        <li>
            <img src="~/image/american-xpress.svg" />
        </li>
        <li>
            <img src="~/image/visa.svg" />
        </li>
        <li>
            <img src="~/image/mastercard.svg" />
        </li>
        <li>
            <img src="~/image/paypal.svg" />
        </li>
    </ul>
</div>

<div class="all-info">
    <div class="text-cont">
        <h2>Dolphin Cove Ocho Rios</h2>
        <p class="para">
            Ocho Ríos is a quintessential city that welcomes cruise travelers
            with white sandy beaches<br /> and swaying palm trees, where Dolphin
            Cove Ocho Ríos, a fantastic Dolphin Habitat and<br /> natural park framed by majestic lush tropical nature, is located.<br /><br />
        </p>

        <p class="para">
            Perfectly appointed in the northeast area of Jamaica and only 4 km from the
            Cruise<br /> Terminal at Turtle Beach Road, Dolphin Cove Ocho Ríos is a superb option to start your<br /> vacation in Jamaica.<br /><br />
        </p>

        <p class="para">
            From the very first moment you step into Dolphin Cove Ocho Ríos, you will feel the<br /> Jamaican vibe with a sumptuous
            natural backdrop to kick back in the pool or delight with<br /> traditional and freshly brewed Jamaican coffee.<br /><br />
        </p>

        <p class="para">
            Unleash your adventurous spirit and get ready to enjoy one of the most fantastic<br /> experiences in a swim with Dolphins
            in Ocho Rios and exploring this extraordinary natural<br /> park in Jamaica.<br /><br />
        </p>


    </div>
    <div class="stick-head">
        <h2>With your interactive program paid admission at Dolphin<br /> Cove Ocho Ríos, you get:</h2><br />
    </div>
    <div class="checks">
        <ul class="unordered">
            <li><img src="~/image/icon-check.svg" width="15px" />Jungle trail.</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Lunch.</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Cawabunga water slide.</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Kayaks.</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Stingrays interactive program.</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Beach Club.</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Dunn's River Falls Experience (swimming at the river falls and cultural activities).</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Activities with the marine species of your choice in their natural environment.</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Use of facilities and showers</li>
        </ul>
    </div>


    <div class="text-cont2">
        <p class="para">
            During your visit to Dolphin Cove Ocho Ríos, before or after your interactive program with<br /> Dolphins or sharks, you will enjoy
            the natural paths across the park where nature meets<br /> sun-and-fun moments.<br /><br />
        </p>
        <p class="para">
            Discover the most incredible tropical species, including iguanas and birds, and a great<br /> diversity of flowers and colorful trees.<br /><br />
        </p>
        <p class="para">
            Get prepared to indulge your senses in a tropical scene and have an unforgettable time<br /> with your loved ones in an idyllic place like Dolphin Cove Ocho Ríos in Jamaica!<br /><br />
        </p><br />
        <h2>Buy Now Your Interactive Experience at Dolphin Cove<br /> Ocho Ríos!</h2>
        <br />
    </div>


    <div class="checks">
        <ul class="unordered">
            <li><img src="~/image/icon-check.svg" width="15px" />Admission Plus</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Shark Encounter</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Yaaman + Dolphin Encounter</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Dolphin Encounter</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Dolphin Swim Adventure</li>
            <li><img src="~/image/icon-check.svg" width="15px" />Dolphin Royal Swim</li>
        </ul>
    </div>

    <h2 class="heads">Select your Experience</h2><br /><br />

    <div class="encounter-container">
        <div class="all">
            <div class="encount-list">
                <img id="size" src="~/image/swim-adventure-dunns.jpg" />
                <div class="info-cont">
                    <p id="encount-info">Dolphin Swim Adventure</p>
                    <h5 id="encount-num1">$149 USD</h5>
                    <h6 id="encount-num">$119.2 USD</h6>
                </div>
            </div>
            <div>
                <img id="size" src="~/image/shark-encounter.jpg" />
                <div class="info-cont2">
                    <p id="encount-info">Shark Encounter</p>
                    <h5 id="encount-sum">$69 USD</h5>
                </div>

            </div>
            <div class="encount-list">
                <img id="size" src="~/image/royal-swim-dunns.jpg" />
                <div class="info-cont">
                    <p id="encount-info">Encounter</p>
                    <h5 id="encount-num1">$119 USD</h5>
                    <h6 id="encount-num">$95.2 USD</h6>
                </div>
            </div>
            <div class="encount-list">
                <img id="size" src="~/image/swim-adventure-dunns.jpg" />
                <div class="info-cont2">
                    <p id="encount-info">Admission Plus</p>
                    <h5 id="encount-sum">$75 USD</h5>
                </div>
            </div>

        </div>

    </div>
    <div class="encounter-container">
        <div class="all">
            <div class="encount-list">
                <img id="size" src="~/image/royal-swim-dunns.jpg" />
                <div class="info-cont">
                    <p id="encount-info">Dolphin Royal Swim</p>
                    <h5 id="encount-num1">$189 USD</h5>
                    <h6 id="encount-num">$151.2 USD</h6>
                </div>
            </div>
            <div class="encount-list">
                <img id="size" src="~/image/swim-adventure-dunns.jpg" />
                <div class="info-cont2">
                    <p id="encount-info">Yaaman + Encounter</p>
                    <h5 id="encount-sum">$199 USD</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="map-info">
        <div class="content">
            <h2 class="you">How to get Ocho Rios</h2><br />
            <p class="para-away"><b>Visiting Dolphin Cove Ocho Ríos</b> is very easy. However, you must consider<br /> important factors such as distance and traffic.</p><br />

            <p class="para-away">
                <b>Dolphin Cove Ocho Ríos</b> is located 4 km (2.5 mi) from the Cruise Terminal at<br /> Turtle Beach Road. If you are visiting Ocho Ríos
                as a cruise traveler or staying<br /> at a lodge, or resort in the northeast area, just take a taxi or hop on a “route<br /> taxi” and get ready for your adventure to<br /><br />
            </p>

            <p class="para-away">If you are staying in the Montego Bay area, we recommend you visit the<br /> Dolphin Cove Montego Bay Dolphin Habitat, as Ocho Ríos is 97 km (60 mi)<br /> away.</p>

            <a href="#"><img class="map-raw" src="~/image/map.jpg" /></a>
        </div>
    </div>
</div>