
@{
    ViewData["Title"] = "AdmissionPlus";
}


<style>
    .cust_mt {
     margin-top: 0.20rem;
     padding:0.30rem
    }

    .col-6 {  padding: 0.5rem}

    body{
        font-family: 'Open Sans', sans-serif;
        color: #2C2C2C;
        text-decoration:none;
        font-size:0.90rem;
    }
    .ms-custom{
        margin-left:4.6rem;
    }

    .pd {
    padding: -0.5rem;

    }

    .main {
        font-size:1.5rem
    }

    .custom-list {
        padding-left: 0; /* Remove left padding */
        list-style-type: none; /* Remove bullet points */
    }

    .custom-line-height {
        line-height: 2.0rem; /* Set a custom line height for specific paragraphs */
    }

    i {
        color:green;
        font-weight:bold;
    }
    .box{
        background-color: #d8ead2;
        color: #225612;
    }
    .btn {
    background: white;
    color: #2C2C2C;
    border-radius: 4px;
    font-size: 15px;
    position: absolute;
    top:100px;
    left: 250px;
    z-index: 9;
    cursor: pointer;
}

</style>


<div class="col-10 row  justify-content-center">

    <div class="col-6">
        <img src="@ViewData["ExperienceImage1"]" class="img-fluid" />
    </div>

    <div class="col-6">

        <div class=" row"> 

            <img src="@ViewData[" ExperienceImage2"]" class="img-fluid" />

        </div>
        <div class="row cust_mt">
                <div class="col-6">

                <img src="@ViewData["ExperienceImage3"]" class="img-fluid" />

                </div>

                <div class="col-6">

                <img src="@ViewData["ExperienceImage4"]" class="img-fluid" />
                </div>

                </div>
    </div>

</div>

<div class="row col-10">
    <div class="col-9 " > 
          <button type="button" class="btn " style="width:140px">View Gallery</button>
        <h5 class="main mt-2 pd"> <b>Shark Encounter in Ocho Rios Jamaica</b></h5>

    <div class="row">
        <div class="col-4">
            <ul class="custom-list">
                <li><b>Adult Admission</b>  <br />Price from: <span style="text-decoration: line-through;"><small>$ 75 USD</small> </span></li>
                <li><strong>$75 USD</strong></li>
        </ul>
        </div>
        <div class="col-4">
            <ul class="custom-list">
                <li><b>Kid Admission</b>  <br />Price from: <span style="text-decoration: line-through;"><small>$$49 USD</small></span></li>
                <li><strong>$$49  USD</strong></li>
            </ul>
        </div>
    </div>
    <h4 class="main mt-4 pd"> <b>Embark on a True Pirate Experience at Treasure Island!</b></h4>
    <div class="nox">

        <p>
           Explore the Caribbean on board intrepid kayaks like an authentic pirate, enjoy the breathtaking views<br /> 
           of the crystal-clear waters, and watch friendly Dolphins play in the natural environment at Dolphin<br />
           Cove Ocho Ríos.
        </p> 
        <p>
           The Admission Plus also includes the fun Jungle Trail to enjoy a relaxing time with nature. Admire the<br />
          tropical species of this exotic path, including iguanas and colorful birds.
        </p>
    
            <strong>Available</strong>: Every day <br />
            <strong>Hours:</strong> 9:30am - 5:00pm
    </div>
    <h4 class="main mt-4 pd"> <b>What does this experience include?</b></h4>
    <p>The <strong>Dolphin Cove Admission Plus in Ocho Ríos</strong> in Jamaica includes the following benefits:</p>
        <ul class="fa-ul ms-5" >
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Buffet meal and drinks</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Water and fruit pinch</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Jungle Trail</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Stingray Encounter</li>

        </ul>
        <h4><b>Useful Information</b></h4>
    <div class="row">
        <ul class="ms-5">
            <li>Toddlers up to 3 years of age enter free with a paying adult.</li>
            <li>It takes 4 hours to complete all the activities.</li>
            <li>The use of a life jacket is mandatory in all water programs.</li>
            <li>Dolphin Cove Ocho Ríos is a wheelchair-accessible park. Premises provide easy mobility to<br /> people using wheelchairs, collapsible wheelchairs, walkers, and motorized scooters.</li>
            <li>Due to security reasons, the usage of cameras is not allowed during the program. Professional<br /> photos will be available to purchase.</li>
            <li>Please consider that schedules are subject to change without prior notice when a cruise is in port.</li>


        </ul>
        <br />
    </div>
    <h4> <b>Activities or Services with an Additional Cost</b></h4>
     <div class="row">
         <ul class= ms-5>
             <li>Bottle water.</li>
             <li>Photo package.</li>
             <li>Snacks or non-specified meals.</li>
             <li>Alcoholic drinks.</li>
             <li>Dunn's River Falls.</li>
             <li>Non-participating companions are required to pay the park's admission fee of 49 USD per adult<br /> and 45 USD per children.</li>
         </ul>
           <br />
     </div>
        <h4><b>Recommendations</b></h4>
    <ul class="ms-3">
        <li>This program is not suitable for pregnant women or uncertain about being pregnant.</li>
        <li>Use biodegradable sunscreen to protect your skin and the marine species' natural Habitat.</li>
        <li>Bring a change of clothes.</li>
        <li>Bring towels and cash for taxicabs, gratuities, shopping, and meals.</li>
    </ul>

    <div class="box rounded container-fluid">
        <h4 class="pt-2"> <span><i class="fa-solid fa-circle-info pt-2"></i> </span> <strong>Photo package information</strong></h4>
        <ul class="ms-5">
            <li >You can purchase your photo package directly when you’re booking your swim with<br /> dolphins experience, it will appear as an extra option.</li>
            <li>Individual photographs (not combined with other person).</li>
            <li>Available for download within 24 hours of your experience.</li>

            </ul> 
            <br />
    </div>

     </div>
    <div class="box2 col-3"> <h1>FormLocation</h1></div>

</div>






