
@{
    ViewData["Title"] = "DolphinRoyalSwim";
}



<style>
    .cust_mt {
     margin-top: 0.20rem;
     padding:0.30rem
    }

    .col-6 {  padding: 0.5rem}

    body{
        font-family: 'Open Sans', sans-serif;
        color: #2C2C2C;
        text-decoration:none;
        font-size:0.90rem;
    }
    .ms-custom{
        margin-left:4.6rem;
    }

    .pd {
    padding: -0.5rem;

    }

    .main {
        font-size:1.5rem
    }

    .custom-list {
        padding-left: 0; /* Remove left padding */
        list-style-type: none; /* Remove bullet points */
    }

    .custom-line-height {
        line-height: 2.0rem; /* Set a custom line height for specific paragraphs */
    }

    i {
        color:green;
        font-weight:bold;
    }
    .box{
        background-color: #d8ead2;
        color: #225612;
    }
    .btn {
    background: white;
    color: #2C2C2C;
    border-radius: 4px;
    font-size: 15px;
    position: absolute;
    top:100px;
    left: 250px;
    z-index: 9;
    cursor: pointer;
}

</style>


<div class="col-10 row  justify-content-center">

    <div class="col-6">
        <img src="@ViewData["ExperienceImage1"]" class="img-fluid" />
    </div>

    <div class="col-6">

        <div class=" row"> 

            <img src="@ViewData["ExperienceImage2"]" class="img-fluid" />

        </div>
        <div class="row cust_mt">
                <div class="col-6">

                    <img src="@ViewData["ExperienceImage3"]" class="img-fluid" />

                </div>

                <div class="col-6">

                <img src="@ViewData["ExperienceImage4"]" class="img-fluid" />
                </div>

                </div>
    </div>

</div>

<div class="row col-10">
    <div class="col-9 " > 
          <button type="button" class="btn " style="width:140px">View Gallery</button>
        <h4 class="main mt-2 pd"> <b>Dolphin Royal Swim at Dolphin Cove Ocho Ríos</b></h4>

    <div class="row">
        <div class="col-4">
            <ul class="custom-list">
                <li><b>Adult Admission</b>  <br />Price from: <span style="text-decoration: line-through;"><small>$189 USD</small> </span></li>
                <li><strong>$151.2 USD</strong></li>
        </ul>
        </div>
        <div class="col-4">
            <ul class="custom-list">
                <li><b>Kid Admission</b>  <br />Price from: <span style="text-decoration: line-through;"><small>$119 USD</small></span></li>
                <li><strong>$95.2 USD</strong></li>
            </ul>
        </div>
    </div>
    <h4 class="main mt-4 pd"> <b>A Fun-Filled Day, Speed, and Nature!</b></h4>
    <div class="nox">

        <p>
          Are you feeling adventurous and wanting to try new experiences during your <strong>
           vacation in Ocho Ríos?<br /></strong>
           The<strong>Dolphin Royal Swim in Ocho Rios Jamaica at Dolphin Cove</strong> will become one of your favorite
           <strong>Dolphin swim activities in Jamaica!</strong>
        </p> 
        <p>
         This fantastic program will start with a brief orientation about Dolphins' behaviors and fascinating facts<br />
         about their lifestyle to continue into the ocean where two friendly Dolphins, splashing and smiling at<br />
         you, showcase how much they enjoy your visit!
        </p>

        <p>
           Feel the thrill of enjoying a ride at full speed while your new Dolphin friends foot-push you through the<br />
           ocean. During the <strong>Dolphin Royal Swim program in Ocho Ríos,</strong> you will enjoy interactive behaviors like
           the <strong>dorsal tow ride,</strong>  the famous hand-to-fin greet, and the sing-along. Don't miss the chance to <strong>snorkel
           with amazing stingrays or stroll along the Jungle Trail!</strong>
      </p>
        <p>
            Additionally, your <strong>Dolphin Swim Adventure Program in Ocho Ríos</strong> also grants you <strong> access to Dunn’s<br />
            River Falls,</strong> an impressive natural park to cool off in the unique river falls and enjoy other adventure<br />
            activities.
        </p>
        <p>
            <strong>Available</strong>: Every day <br />
            <strong>Hours</strong>:10:15 am, 11:45 am
        </p>
    </div>
    <h4 class="main mt-4 pd"> <b>What does this experience include?</b></h4>
    <p>The <strong>Dolphin Royal Swim in Ocho Rios Jamaica at Dolphin Cove</strong> in Jamaica includes the following<br /> benefits:</p>
        <ul class="fa-ul ms-5" >
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Approximately a 30-minute interaction with two Dolphins in their natural Habitat.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>30-minute orientation to learn more about Dolphin behaviors and other interesting facts.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Access to Dunn's River Falls natural park.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Jungle Trail.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Traditional Jamaican lunch: consists of jerk chicken, rice with peas, and mixed vegetables.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Stingray Encounter: Petting and snorkeling with these friendly creatures.</li>

        </ul>

        <h4><b>Dolphin Behaviors Included</b></h4>
    <div class="row ms-5">
        <ul class="col-4">
            <li>Hugging</li>
            <li>Hand Target</li>        
            <li>Dorsal Tow</li>        
        </ul>
        <ul class="col-6">
            <li>Kissing</li>
            <li>Handshake </li>
            <li>    Foot Push</li>
        </ul>
    </div>
        <h4><b>Useful Information</b></h4>
    <div class="row">
        <ul class="ms-5">
            <li>Participants of this program must know how to swim.</li>
            <li>Children 1.40 m (4.6 ft) are allowed to participate alone in this Dolphin program paying the adult rate.</li>
            <li>Children 1.20 m (3.9 ft) require supervision from a paying adult (1 adult per kid).</li>
            <li>Children 1 m (3.3 ft) are allowed to participate as long as they stand accompanied by two paying <br />adults (2 adults per kid).</li>
            <li>Children under 1 m (3.3 ft) will be considered toddlers and will perform Encounter activities<br /> regardless of the program in which they participate (it is a requirement that they fit the life<br /> jacket).</li>
            <li>The use of a life jacket is mandatory in all water programs.</li>
            <li>Dolphin Cove Ocho Ríos is a wheelchair-accessible park. Premises provide easy mobility to<br /> people using wheelchairs, collapsible wheelchairs, walkers, and motorized scooters.</li>
            <li>Due to security reasons, the usage of cameras is not allowed during the program. Professional<br /> photos will be available to purchase.</li>
            <li>Please consider that schedules are subject to change without prior notice when a cruise is in port.</li>


        </ul>
    </div>
      <h4> <b>Activities or Services with an Additional Cost</b></h4>
     <div class="row">
         <ul class= ms-5>
             <li>Photo package of your Dolphin experience.</li>
             <li>Snacks or non-specified meals.</li>
             <li>Alcoholic drinks.</li>
             <li>Dunn's River Falls.</li>
             <li>Non-participating companions are required to pay the park's admission fee of 49 USD per adult<br /> and 45 USD per children.</li>
         </ul>
           <br />
     </div>
        <h4><b>Recommendations</b></h4>
    <ul class="ms-3">
        <li>This program is not suitable for pregnant women or uncertain about being pregnant.</li>
        <li>Use biodegradable sunscreen to protect your skin and the marine species' natural Habitat.</li>
        <li>Bring a change of clothes.</li>
        <li>Bring towels and cash for taxicabs, gratuities, shopping, and meals.</li>
    </ul>

    <div class="box rounded container-fluid">
        <h5 class="pt-2"> <span><i class="fa-solid fa-circle-info pt-2"></i> </span> <strong>Photo package information</strong></h5>
        <ul class="ms-5">
            <li >You can purchase your photo package directly when you’re booking your swim with<br /> dolphins experience, it will appear as an extra option.</li>
            <li>Individual photographs (not combined with other person).</li>
            <li>Available for download within 24 hours of your experience.</li>

            </ul> 
            <br />
    </div>

     </div>
    <div class="box2 col-3"> <h1>FormLocation</h1></div>

</div>




