
@{
    ViewData["Title"] = "Encounter";
}


<style>
    .cust_mt {
     margin-top: 0.20rem;
     padding:0.30rem
    }

    .col-6 {  padding: 0.5rem}

    body{
        font-family: 'Open Sans', sans-serif;
        color: #2C2C2C;
        text-decoration:none;
        font-size:0.90rem;
    }
    .ms-custom{
        margin-left:4.6rem;
    }

    .pd {
    padding: -0.5rem;

    }

    .main {
        font-size:1.5rem
    }

    .custom-list {
        padding-left: 0; /* Remove left padding */
        list-style-type: none; /* Remove bullet points */
    }

    .custom-line-height {
        line-height: 2.0rem; /* Set a custom line height for specific paragraphs */
    }

    i {  /* font awesome check marks */
        color:green;
        font-weight:bold;
    }
    .box{
        background-color: #d8ead2;
        color: #225612;
    }
    .btn {  /* view images button 0.0 does not do anything */
    background: white;
    color: #2C2C2C;
    border-radius: 4px;
    font-size: 15px;
    position: absolute;
    top:100px;
    left: 250px;
    z-index: 9;
    cursor: pointer;
}

</style>


<div class="col-10 row  justify-content-center">

    <div class="col-6">
        <img src="@ViewData["ExperienceImage1"]" class="img-fluid" />
    </div>

    <div class="col-6">

        <div class=" row"> 

            <img src="@ViewData["ExperienceImage2"]" class="img-fluid" />

        </div>
        <div class="row cust_mt">
                <div class="col-6">

                <img src="@ViewData["ExperienceImage3"]" class="img-fluid" />

                </div>

                <div class="col-6">

                 <img src="@ViewData["ExperienceImage4"]" class="img-fluid" />
                </div>

                </div>
    </div>

</div>

<div class="row col-10">
    <div class="col-9 " > 
          <button type="button" class="btn " style="width:140px">View Gallery</button>
        <h5 class="main mt-2 pd"> <b>Dolphin Encounter in Ocho Rios Jamaica</b></h5>

    <div class="row">
        <div class="col-4">
            <ul class="custom-list">
                <li><b>Adult Admission</b>  <br />Price from: <span style="text-decoration: line-through;"><small>$119 USD</small> </span></li>
                <li><strong>$95.2 USD</strong></li>
        </ul>
        </div>
        <div class="col-4">
            <ul class="custom-list">
                <li><b>Kid Admission</b>  <br />Price from: <span style="text-decoration: line-through;"><small>$119 USD</small></span></li>
                <li><strong>$95.2 USD</strong></li>
            </ul>
        </div>
    </div>
    <h4 class="main mt-4 pd"> <b>A Sympathetic Experience with One of the Most Friendly<br /> Dolphins in Jamaica!</b></h4>
    <div class="nox">

        <p>
           Dolphins are one of the most amazing marine mammals, and humans are more related to them than<br />
           you could ever think!
           
          Dolphins enjoy it very much when you visit them, especially in natural environments like <strong>Ocho Ríos.</strong><br />
          Get in the water on a shallow platform to sing one of their favorite songs and learn impressive facts<br />
          about their skin and life span during your upcoming Dolphin swim in Jamaica. The Dolphin will<br />
          welcome you with a big smile and swim by your side so you can caress their tender skin and shake<br />
          hands and fin.
        </p> 
        <p>
           If <strong>swimming with Dolphins</strong> is one of your dream activities and visiting Jamaica soon, <strong>Dolphin Cove
           Ocho Ríos</strong> is the best place on the North Coast to enjoy this lovely experience that will endure in your<br />
           heart and memories. Your kids will simply love it!
        </p>

        <p>The <strong>Dolphin Encounter in Ocho Ríos Jamaica</strong> also grants you access to Dunn's River Falls, an impressive<br />
           natural park to cool off in the unique river falls and enjoy other adventure activities.</p>
       
        <p>
            <strong>Available</strong>: Every day <br />
            <strong>Hours:</strong>10:15 am, 11:45 am
    </div>
    <h4 class="main mt-4 pd"> <b>What does this experience include?</b></h4>
    <p>The <strong>Shark Encounter at Dolphin Cove Ocho Ríos</strong> in Jamaica includes the following benefits:</p>
        <ul class="fa-ul ms-5" >
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Approximately a 30-minute interaction with one Dolphin in its natural Habitat.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>30-minute orientation to learn more about Dolphin behaviors and other interesting facts.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Access to Dunn's River Falls natural park.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Jungle Trail.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span> Traditional Jamaican lunch: consists of jerk chicken, rice with peas, and mixed vegetables.</li>
            <li>&nbsp; <span class="fa-li"><i class="fa-solid fa-check fa-lg"></i></span>Stingray Encounter: Petting and snorkeling with these friendly creatures.</li>

        </ul>

        <h4><b>Dolphin Behaviors Included</b></h4>
    <div class="row ms-5">
        <ul class="col-4">
            <li>Hand Target</li>
            <li>Handshaking</li>
        </ul>
        <ul class="col-6">
            <li>Hugging</li>
        </ul>
    </div>
        <h4><b>Useful Information</b></h4>
    <div class="row">
        <ul class="ms-5">
            <li>Participants of this program must know how to swim.</li>
            <li>Children 1.40 m (4.6 ft) are allowed to participate alone in this Dolphin program paying the adult rate.</li>
            <li>Children 1.20 m (3.9 ft) require supervision from a paying adult (1 adult per kid).</li>
            <li>Children 1 m (3.3 ft) are allowed to participate as long as they stand accompanied by two paying <br />adults (2 adults per kid).</li>
            <li>Children under 1 m (3.3 ft) will be considered toddlers and will perform Encounter activities<br /> regardless of the program in which they participate (it is a requirement that they fit the life<br /> jacket).</li>
            <li>The use of a life jacket is mandatory in all water programs.</li>
            <li>Dolphin Cove Ocho Ríos is a wheelchair-accessible park. Premises provide easy mobility to<br /> people using wheelchairs, collapsible wheelchairs, walkers, and motorized scooters.</li>
            <li>Due to security reasons, the usage of cameras is not allowed during the program. Professional<br /> photos will be available to purchase.</li>
            <li>Please consider that schedules are subject to change without prior notice when a cruise is in port.</li>


        </ul>
        <br />
    </div>
    <h4> <b>Activities or Services with an Additional Cost</b></h4>
     <div class="row">
         <ul class= ms-5>
             <li>Photo package of your Dolphin experience.</li>
             <li>Snacks or non-specified meals.</li>
             <li>Alcoholic drinks.</li>
             <li>Dunn's River Falls.</li>
             <li>Non-participating companions are required to pay the park's admission fee of 49 USD per adult<br /> and 45 USD per children.</li>
         </ul>
           <br />
     </div>
        <h4><b>Recommendations</b></h4>
    <ul class="ms-3">
        <li>This program is not suitable for pregnant women or uncertain about being pregnant.</li>
        <li>Use biodegradable sunscreen to protect your skin and the marine species' natural Habitat.</li>
        <li>Bring a change of clothes.</li>
        <li>Bring towels and cash for taxicabs, gratuities, shopping, and meals.</li>
    </ul>

    <div class="box rounded container-fluid">
        <h4 class="pt-2"> <span><i class="fa-solid fa-circle-info pt-2"></i> </span> <strong>Photo package information</strong></h4>
        <ul class="ms-5">
            <li >You can purchase your photo package directly when you’re booking your swim with<br /> dolphins experience, it will appear as an extra option.</li>
            <li>Individual photographs (not combined with other person).</li>
            <li>Available for download within 24 hours of your experience.</li>

            </ul> 
            <br />
    </div>

     </div>
    <div class="box2 col-3"> <h1>FormLocation</h1></div>

</div>





