@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-light-Grey">
    <div class=""><img class="img-fluid" src="https://www.dtraveller.com/promotions/imagesDD//coveja-xmas-last-home.jpg" alt="Dolphin image"></div>

    <h2 class="text-center mt-4"><strong>Dolphin Cove Jamaica</strong></h2>
    <h4 class="text-center mt-4"><strong>Where The Most Loved Dolphins in Jamaica Live!</strong></h4>
    <div class="container p-3">
        <p>
            <strong>Jamaica</strong> is a charming island with a dazzling natural
            beauty framed by the mangroves' emerald hues and jaw-dropping
            azure pristine shoreline scenes. On your next visit to Jamaica,
            you will dive into a world where nature meets fun and where a
            lifetime experience is waiting right at <strong>Dolphin Cove Jamaica</strong>.<br><br>

            Located in a 23-acre coveted semi-virgin area, Dolphin Cove
            Jamaica will become your paradise sanctuary during your vacations
            in Jamaica. If you are an adventure traveler, <strong>
                swimming with
                Dolphins in their natural Habitat
            </strong> will surely be on the top of
            your to-do list.<br><br>

            At this <strong>Dolphin Cove Habitat in Jamaica</strong>, you will also enjoy
            other thrilling activities that will keep you craving for more!
            Put on your <strong>swimwear</strong>, soak up the sun, work on that dreamed-of
            tan, get ready to interact with other fascinating species, and
            have tons of fun around!
        </p>
    </div>
<div class="container">
        <div class="row">
            <div class="col">
                <div class="card bg-transparent border-0">
                    <img class="card-img w-100" src="https://www.dolphincoveja.com/Content/img/home/promotion-jamaica.jpg">
                    <div class="card-img-overlay d-flex align-items-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-8 h-100">
                                    <h5 class="text-light"><strong>ENJOY THE LATEST PROMOTIONS IN JAMAICA</strong></h5>
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <a href="" class="btn rounded-pill btn-primary m-auto"><strong>VIEW OFFERS</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent border-0">
                    <img class="card-img w-100" src="https://www.dolphincoveja.com/Content/img/home/faqs-jamaica.jpg">
                    <div class="card-img-overlay d-flex align-items-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-8 h-100">
                                    <h5 class="text-light"><strong>HOW CAN WE HELP YOU? VISIT OUR FAQ'S</strong></h5>
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <a href="" class="btn rounded-pill btn-primary m-auto"><strong>VIEW MORE</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="bg-white mt-5">
       <div class="p-5">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="w-75">
                        <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/awards.jpg">
                    </div>
                </div>
                <div class="col">
                    <div class="section1">
                        <h4><strong>Awards and Accolades</strong></h4>
                        <p class="paragraph2">
                            <strong>Dolphin Cove Jamaica</strong> is a proud recipient of multiple awards and accolades,
                            showcasing its leadership for featuring the most adventurous and exciting
                            interactive programs with marine mammals and other species.<br><br>

                            These awards are also recognized for delivering a bespoke service and world-
                            class facilities and for providing the best natural environment and care for all
                            species in this <strong>Dolphin Habitat in Jamaica</strong> and the Caribbean!
                        </p>
                       <div class="d-flex w-75">
                            <div class="w-50">
                                <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/award2.svg">
                            </div>
                            <div class="w-50">
                                <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/award3.svg">
                            </div>
                            <div class="w-50">
                                <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/award1.svg">
                            </div>
                            <div class="w-50">
                                <img class="img-fluid w-50" src="https://www.dolphincoveja.com/Content/img/home/award4.svg">
                            </div>
                       </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div class="section2">
        <h4 class="text-center mt-5"><strong>Swimming with Dolphins in Jamaica has never been this good!</strong></h4>
    <div class="container">
            <p class="mt-3">
                Your <strong>vacations at Dolphin Cove Jamaica</strong> will become as special as you want!<br><br>
                Choose your favorite Jamaica tours from five Dolphin Habitats available at Dolphin Cove Jamaica, which include Ocho Ríos, Montego Bay, Moon Palace,
                Puerto Seco, and Yaaman, and start planning the vacation of your life. <strong>Swimming with Dolphins in Jamaica</strong> is a thrilling adventure that will keep you on edge
                during your vacation!
            </p>
            <div class="row mt-4">
                <div class="col-3">
                    <div class="card border-0 rounded">
                        <div class="w-100 card-img-top">
                            <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/dolphin-encounter-experiences.jpg">
                        </div>
                        <div class="p-3 d-flex justify-content-center align-items-center"><h5>Dolphin Encounter</h5></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0 rounded">
                        <div class="w-100 card-img-top">
                            <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/swim-adventure-experiences.jpg">
                        </div>
                        <div class="p-3 d-flex justify-content-center align-items-center"><h5>Swim Adventure</h5></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0 rounded">
                        <div class="w-100 card-img-top">
                            <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/royal-swim-experiences.jpg">
                        </div>
                        <div class="p-3 d-flex justify-content-center align-items-center"><h5>Dolphin Royal Swim</h5></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0 rounded">
                        <div class="w-100 card-img-top">
                            <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/yaaman-encounter-experiences.jpg">
                        </div>
                        <div class="py-3 d-flex justify-content-center align-items-center"><h5 class="text-center">Yaaman + Dolphin Encounter</h5></div>
                    </div>
                </div>

            </div>
        <div class="row">
                <div class="col-3">
                    <div class="card border-0 rounded">
                        <div class="w-100 card-img-top">
                            <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/shark-encounter-experiences.jpg">
                        </div>
                        <div class="py-3 d-flex justify-content-center align-items-center"><h5 class="text-center">Shark Encounter</h5></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0 rounded">
                        <div class="w-100 card-img-top">
                            <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home/admission-plus-experiences.jpg">
                        </div>
                        <div class="py-3 d-flex justify-content-center align-items-center"><h5 class="text-center">Admission Plus</h5></div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="section mt-5">
        <h4 class="text-center"><strong>What our clients says</strong></h4>
    </div>
    <div class="container mt-4">
        <div class="row gx-5" style="gap: 2rem;">
            <div class="col card border-0 p-4 border-box">
                <h5>Dolphin Cove Ocho Rios</h5>
                <p class="label-title"><small>DOLPHIN ENCOUNTER</small></p>
                <div class="d-flex">
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span id="star" class="fa fa-star" style="font-size:24px;"></span>
                </div>
                <h5 class="mt-3">Lamar & Ziggy the bomb!</h5>
                <p>
                    The session was fun, informative and exciting.
                    The care and respect that the guides showed towards us and the dolphins,
                    is reflective of good customer service and training. The forest and the
                    small animals rounded out what was a great experience. 100% going back again.
                </p>
                <div class="w-50">
                    <img class="img-fluid" src="/images/choice.png">
                </div>
            </div>
            <div class="col card border-0 p-4 border-box">
                <h5>Dolphin Cove Montego Bay</h5>
                <p class="label-title"><small>DOLPHIN SWIM ADVENTURE</small></p>
                <div class="d-flex">
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                </div>
                <p>Chris Rock and Orion are the BEST!</p>
                <p>
                    Ya mon! We loved the dolphin experience.<br><br>
                    Our trainer was Chris Rock with his dolphin Orion.
                    Chris could not have been a better host to us.
                    Highly recommend, mon!<br><br>
                    This is a must-do if in Jamaica.
                </p>
                <div class="w-50">
                    <img class="img-fluid" src="/images/choice.png">
                </div>
            </div>
            <div class="col card border-0 p-4 border-box">
                <h5>Dolphin Cove Ocho Rios</h5>
                <p class="label-title"><small>DOLPHIN ROYAL SWIM</small></p>
                <div class="d-flex">
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                    <span class="fa fa-star" style="font-size:24px;color: orange"></span>
                </div>
                <p>Amazing Dolphin Experience</p>
                <p>
                    Amazing visit with the dolphins with
                    knowledgeable guides (Fletch and Deidre). My kids had a blast and I have great pictures to capture the experience!!<br><br>
                    Without a doubt, our dolphin swim experience was the most magical part of our trip!
                </p>
                <div class="w-50">
                    <img class="img-fluid" src="/images/choice.png">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white mt-5">
        <div class="container p-5">
            <div class="row">
                <div class="col-7">
                    <div>
                        <h5><strong>How to Get to the Dolphin Habitats in Jamaica</strong></h5>
                        <p>
                            <strong>Dolphin Cove Jamaica</strong> features <strong>five Dolphin Habitats</strong> for your enjoyment during your next trip to this beautiful island in the Caribbean!<br><br>

                            Whether you are a cruise traveler or traveling by yourself to this beautiful and picturesque island, moving around is very easy!<br><br>

                            Hop on a “route taxi” that will take you through different zones in Jamaica tours, like Montego Bay, Ocho Ríos, and Puerto Seco, or rent a car at your convenience so you can better explore and wander off the island.<br><br>

                            Remember that if you are staying at the Moon Palace Jamaica resort.
                        </p>
                       
                    </div>
                </div>
                <div class="col-5 d-flex justify-content-center">
                    <div>
                        <img class="img-fluid" src="https://www.dolphincoveja.com/Content/img/home//map-cove.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <h5 class="text-center pb-3">
        <strong>Follow Us:</strong> <img src="https://www.dolphincoveja.com/Content/img/footer/facebook_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
        <img src="https://www.dolphincoveja.com/Content/img/footer/instagram_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
        <img src="https://www.dolphincoveja.com/Content/img/footer/twitter_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
        <img src="https://www.dolphincoveja.com/Content/img/footer/tiktok_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
        <img src="https://www.dolphincoveja.com/Content/img/footer/tripadvisor_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
    </h5>
</div>