@{
    ViewData["Title"] = "Puerto Seco";
}

<div><img class="img-fluid" src="https://www.dolphincoveja.com/Content/src/programs/ps/dolphincove-bannerlocacion.jpg" alt="Puerto Seco Beach image"></div>

<div class="container">
    <div class="row">
        <div class="col">
           <div class="w-50 d-flex gx-4">
                <div class="w-25">
                    <img class="img-fluid" src="https://www.dolphincoveja.com/Content/src/programs/PS/gallery/gallery1.jpg">
                </div>
                <div class="w-25">
                    <img class="img-fluid" src="https://www.dolphincoveja.com/Content/src/programs/PS/gallery/gallery2.jpg">
                </div>
                <div class="w-25">
                    <img class="img-fluid" src="https://www.dolphincoveja.com/Content/src/programs/PS/gallery/gallery3.jpg">
                </div>
                <div class="w-25">
                    <img class="img-fluid" src="https://www.dolphincoveja.com/Content/src/programs/PS/gallery/gallery4.jpg">
                </div>
           </div>

            <h1 class="title3">Dolphin Cove in Puerto Seco Beach</h1>
            <p class="paragraph1">
                Puerto Seco Beach is one of the most beckoning places
                in Jamaica for its pristine coastline, where you and your family will
                enjoy great water activities, have fun in the sun, and have the chance
                to swim with Dolphins in Puerto Seco!<br><br>

                This impressive beach club is on a 10-acre property boasting diverse
                restaurants, kid-friendly activities, and other fun options to enjoy
                endless-fun watersports like scuba diving and paddle boards, and home
                to Dolphin Cove Puerto Seco. Also, a fascinating fact is that Puerto
                Seco Beach was the first spot where Christopher Columbus docked in Jamaica.<br>
                <h1 class="title2">With your interactive program paid admission at Dolphin Cove Puerto Seco, you get:</h1>

            <p class="paragraph1"><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" alt="tick" style="margin: 0 0.5vw 0 3vw; width: 1vw;"> Dolphin interactive program of your choice.</p>
            <p class="paragraph1"><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" alt="tick" style="margin: 0 0.5vw 0 3vw; width: 1vw;">Lifejacket.</p>
            <p class="paragraph1"><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" alt="tick" style="margin: 0 0.5vw 0 3vw; width: 1vw;">Dolphin orientation to learn riveting facts about these friendly marine mammals.</p>
            <p class="paragraph1"><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" alt="tick" style="margin: 0 0.5vw 0 3vw; width: 1vw;"> Activities with Dolphins in their natural environment.</p>
            <p class="paragraph1">Share unforgettable moments with your loved ones at Dolphin Cove Puerto Seco, and get ready to unwind and have a blast on your upcoming vacations in Jamaica!</p>

            <h1 class="title2">Buy Now Your Interactive Experience at Dolphin Cove Puerto Seco!</h1>

            <p class="paragraph1"><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" alt="tick" style="margin: 0 0.5vw 0 3vw; width: 1vw;">Dolphin Encounter</p>
            <p class="paragraph1"><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" alt="tick" style="margin: 0 0.5vw 0 3vw; width: 1vw;">Dolphin Swim Adventure</p>
            <p class="paragraph1"><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" alt="tick" style="margin: 0 0.5vw 0 3vw; width: 1vw;">Dolphin Royal Swim</p>
            <br>
            <h1 class="title">Select your experience</h1>

        </div>
        <div>
            <div class="reservation">
                <h1 class="reservation-title">
                    MAKE YOUR RESERVATION<h1>
                        <div class="activity-container">
                            <p class="activity"> <i style="font-size: 1.2vw; margin-right: 0.5vw;" class="fa fa-location-arrow"></i>Choose The activity</p>
                            <select id="activity-option">
                                <option value="0">Select activity</option>
                                <option value="1"> Dolphin Swim Adventure</option>
                                <option value="2"> Dolphin Royal Swim</option>
                                <option value="3"> Shark Encounter</option>
                                <option value="4">Encounter</option>
                                <option value="5">Admission Plus</option>
                            </select>
                            <div class="date">
                                <div>
                                    <p class="activity"><i style="font-size: 1.2vw; margin-right: 0.5vw;" class="fa fa-calendar"></i>Date</p>
                                    <input class="date-input" type="date" placeholder="--Choose--">
                                </div>
                                <div>
                                    <p class="activity"><i style="font-size: 1.2vw; margin-right: 0.5vw;" class="fa fa-clock-o"></i>Schedule</p>
                                    <select id="activity-option">
                                        <option value="0">--Choose--</option>
                                        <option value="1"> Dolphin Swim Adventure</option>
                                        <option value="2"> Dolphin Royal Swim</option>
                                    </select>
                                </div>
                            </div>
                            <p class="activity"><i style="font-size: 1.2vw; margin-right: 0.5vw;" class="fa fa-users"></i>Participants</p>
                            <input class="participants" type="number">
                            <button class="book-now">Book Now</button>
                        </div>

            </div>
            <div class="col">
                <img src="https://www.dolphincoveja.com/Booking/Img/american-xpress.svg">
                <img src="https://www.dolphincoveja.com/Booking/Img/visa.svg">
                <img src="https://www.dolphincoveja.com/Booking/Img/mastercard.svg">
                <img src="https://www.dolphincoveja.com/Booking/Img/paypal.svg">
            </div>
        </div>
    </div>
</div>
<div class="gallery">
    <div class="gallery-image">
        <div class="gallery-container">
            <img src="https://www.dolphincoveja.com/Content/media/dolphin-cove-montego-bay/producto-dolphin-cove-montego-bay-dolphin-royal-swim.jpg">
        </div>
        <div class="label"><h3 class="gallery-label-2">Dolphin Encounter<span class="price">$99 USD</span></h3></div>
    </div>
    <div class="gallery-image">
        <div class="gallery-container">
            <img src="https://www.dolphincoveja.com/Content/media/dolphin-cove-montego-bay/producto-dolphin-cove-montego-bay-swim-adventure.jpg">
        </div>
        <div class="label"><h3 class="gallery-label-2">Dolphin Swim Adventure<span class="price">$139 USD</span></h3></div>
    </div>
    <div class="gallery-image">
        <div class="gallery-container">
            <img src="https://www.dolphincoveja.com/Content/media/dolphin-cove-montego-bay/producto-dolphin-cove-montego-bay-encounter.jpg">
        </div>
        <div class="label"><h3 class="gallery-label-2">Dolphin Royal Swim<span class="price">$179 USD</span></h3></div>
    </div>
</div>
<div class="location">
    <div class="section3">
        <h2 class="title4">How to Get to Dolphin Cove Puerto Seco?</h2>
        <p class="paragraph2">Dolphin Cove Puerto Seco is in the Discovery Bay area, 63 km(39 mi) from the Sangster International Airport in Montego Bay.</p>
        <p class="paragraph2">Getting to Puerto Seco Beach is effortless from any villa or hotel in Discovery Bay. Hop on a local bus or get the “route taxi” in the surrounding towns through A1 Highway.</p>
    </div>
    <img id="img4" src="https://www.dolphincoveja.com/Content/src/programs/PS/map.jpg">
</div>
<br>
<hr>
<h3 class="title2">
    Follow Us: <img src="https://www.dolphincoveja.com/Content/img/footer/facebook_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
    <img src="https://www.dolphincoveja.com/Content/img/footer/instagram_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
    <img src="https://www.dolphincoveja.com/Content/img/footer/twitter_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
    <img src="https://www.dolphincoveja.com/Content/img/footer/tiktok_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
    <img src="https://www.dolphincoveja.com/Content/img/footer/tripadvisor_icono.svg" style="margin-bottom: -5px; margin-right: 10px; ">
</h3>