@model DolphinCove.Models.Park
@{
    ViewData["Title"] = "Moon Palace";
    Layout = null;
}

<section class="jam-header-img">
<img src="https://www.dolphincoveja.com/Content/src/programs/pj/locations-moon-palace-jamaica-grande.jpg" width="1360" height="320">
</section>

<section class="jam-body">
<div class="jam-body-top-section">
    <div class="jam-left-body">
        <div class="jam-images-wrap">
            <img src="https://www.dolphincoveja.com/Content/src/programs/PJ/gallery/gallery1.jpg" style="width:144px; height:82px">
            <img src="https://www.dolphincoveja.com/Content/src/programs/PJ/gallery/gallery2.jpg" style="width:144px; height:82px">
            <img src="https://www.dolphincoveja.com/Content/src/programs/PJ/gallery/gallery3.jpg" style="width:144px; height:82px">
            <img src="https://www.dolphincoveja.com/Content/src/programs/PJ/gallery/gallery4.jpg" style="width:144px; height:82px">
        </div>
        <br><br>
        <h2>Moon Palace Jamaica</h2>
        <br><br>
        <p>
            Dolphin Cove Moon Palace is a Dolphin Habitat conveniently appointed for visitors and<br> guests that have reserved their
            vacation stay at Moon Palace Jamaica from Palace<br> Resorts.<br><br> At the Moon Palace Jamaica all-inclusive resort, you will
            enjoy the most outstanding<br> vacation time while unwinding on the pristine soft sandy beach, perfecting your tan,<br> soothing
            your senses, and having memorable fun moments.<br><br> Start planning your vacation in the Caribbean with<br> the experience of the
            best swim with Dolphins in Moon Palace Jamaica programs in a unique Dolphin Habitat.
        </p>
    </div>
</div>

<div class="jam-body-wrap">
    <div class="jam-left-body">
        <br><br>
        <h3>With your interactive program paid admission at Dolphin<br> Cove Moon Palace, you get:</h3>
        <br><br>
        <div class="jam-list-wrap">
            <ul>
                <li><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" width="16" height="16">Dolphin interactive program of your choice</li>
                <li><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" width="16" height="16">Lifejacket</li>
                <li><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" width="16" height="16">Dolphin orientation to learn riveting facts about these friendly marine mammals</li>
                <li><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" width="16" height="16">Activities with Dolphins in their natural environment</li>
            </ul>
        </div>
        <p>
            Buy your Dolphin program, and don't forget to check with your Palace Vacation Planner<br> on how to use your resort credits
            on any of the available Dolphin programs to enhance<br> your vacations at Moon Palace Jamaica!
        </p>
        <h3 style="margin-top: 0px; padding-top: 10px;">Buy Now Your Interactive Experience at Dolphin Cove<br> Montego Bay!</h3>
        <br><br>
            <div class="jam-list-wrap">
            <ul>
                <li><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" width="16" height="16">Dolphin Encounter</li>
                <li><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" width="16" height="16">Dolphin Swim Adventure</li>
                <li><img src="https://www.dolphincoveja.com/Content/img/icons/icon-check.svg" width="16" height="16">Dolphin Royal Swim</li>
            </ul>
        </div>
        <h3 style="margin-top: 0px; padding-top: 5px; padding-bottom: 35px;">Select your experience</h3>
        <div class="jam-images-wrap2">
            <div class="jam-images-box">
                <a href="https://www.dolphincoveja.com/Parks/moon-palace-jamaica/palace-dolphin-ultimate-swim">
                    <img src="https://www.dolphincoveja.com/Content/media/dolphin-cove-montego-bay/producto-dolphin-cove-montego-bay-dolphin-royal-swim.jpg" height="155px" width="255px">
                    <p>Dolphin Royal Swim &nbsp; &nbsp; &nbsp; <span style="text-align:right">$199 USD</span> </p>
                </a>
            </div>
            <div class="jam-images-box">
                <a href="https://www.dolphincoveja.com/Parks/moon-palace-jamaica/palace-dolphin-encounter">
                    <img src="https://www.dolphincoveja.com/Content/media/dolphin-cove-montego-bay/producto-dolphin-cove-montego-bay-encounter.jpg" height="155px" width="255px">
                    <p>Encounter &nbsp; &nbsp; &nbsp; <span style="text-align:right">$99 USD</span></p>
                </a>

            </div>
            <div class="jam-images-box">
                <a href="https://www.dolphincoveja.com/Parks/moon-palace-jamaica/palace-dolphin-swim">
                    <img src="https://www.dolphincoveja.com/Content/media/dolphin-cove-montego-bay/producto-dolphin-cove-montego-bay-swim-adventure.jpg" height="155px" width="255px">
                    <p>Dolphin Swim Adventure &nbsp; &nbsp; &nbsp; <span style="text-align:right">$149 USD</span></p>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="jam-bottom-row">
    <div class="jam-bottom-row-wrap">
        <h1>How to Get to Dolphin Cove Moon Palace Jamaica?</h1>
        <p>
            The Moon Palace Jamaica all-inclusive resort is in the Ocho Ríos area.<br> However, we recommend you
            fly to the Montego Bay International Airport<br> (MBJ), located 86 km (53 mi) away.<br><br> At the airport,
            you will find many shuttles or private transfers to your hotel if<br> you didn’t book it in advance.
        </p>
    </div>
    <div class="jam-bottom-row-wrap">
        <img src="https://www.dolphincoveja.com/Content/src/programs/PJ/map.jpg" width="452px" height="266px">
    </div>
</div>
</section>