@model DolphinCove.Models.Experience

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Experience</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkId" class="control-label"></label>
                <select asp-for="ParkId" class ="form-control" asp-items="ViewBag.ParkId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceName" class="control-label"></label>
                <input asp-for="ExperienceName" class="form-control" />
                <span asp-validation-for="ExperienceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdultPrice" class="control-label"></label>
                <input asp-for="AdultPrice" class="form-control" />
                <span asp-validation-for="AdultPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildPrice" class="control-label"></label>
                <input asp-for="ChildPrice" class="form-control" />
                <span asp-validation-for="ChildPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceImage1" class="control-label"></label>
                <input type="file" mutiple name="files" id="ExperienceImage1" class="form-control" />
                <span asp-validation-for="ExperienceImage1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceImage2" class="control-label"></label>
                <input type="file" mutiple name="files" id="ExperienceImage2" class="form-control" />
                <span asp-validation-for="ExperienceImage2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceImage3" class="control-label"></label>
                <input type="file" mutiple name="files" id="ExperienceImage3" class="form-control" />
                <span asp-validation-for="ExperienceImage3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceImage4" class="control-label"></label>
                <input type="file" mutiple name="files" id="ExperienceImage4" class="form-control" />
                <span asp-validation-for="ExperienceImage4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceAddonsId" class="control-label"></label>
                <select asp-for="ExperienceAddonsId" class ="form-control" asp-items="ViewBag.ExperienceAddonsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
